.CardContainer {
  background-color: var(--primary);
  max-width: 45em;
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1.5em;
  border-radius: 1rem;

  .ProfileImage {
    border-radius: 100%;
    $size: 15rem;
    max-width: $size;
    max-height: $size;
  }
  .ContainerInfoDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    .RowNameandDateJoined {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      h2 {
        color: var(--text-primary);
      }
      p {
        color: var(--text-secondary);
      }
    }

    .UsernameInfo {
      color: var(--text-third);
    }
    .BioInfo {
      color: var(--text-secondary);
    }
    .InfoDetailsNumbers {
      background-color: var(--secondary);
      border-radius: 1rem;
      padding: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .ItemNumberDetail {
        display: flex;
        flex-direction: column;

        h3 {
          color: var(--text-secondary);
        }
        h1 {
          color: var(--text-primary);
          font-weight: bold;
        }
      }
    }
  }
}
