.StyleButtonContainer {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  label {
    cursor: pointer;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  span {
    color: var(--text-primary);
    font-size: 1.5rem;
  }
}
