.ContainerDev {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
  .LabelContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    max-width: 45em;
    width: 100%;
    justify-content: space-between;
    h1 {
      color: var(--text-primary);
    }
  }
}
.NotifyData {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ListContainerData {
  margin-top: 1em;
  display: grid;
  width: 100%;
  gap: 2em;
  grid-template-rows: 22em;
  grid-template-columns: repeat(auto-fill, minmax(50em, 1fr));
}
