.ContainerDev {
  $sizeElement: 40em;
  display: flex;
  width: $sizeElement;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .LabelContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    width: $sizeElement;
    justify-content: space-between;
    h1 {
      color: var(--text-primary);
    }
  }
}

.ListContainerData{
  
}
